<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wookie">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA,android.permission.READ_PHONE_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".KakaoApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Group.GroupListActivity"></activity>
        <activity android:name=".BottomNaviActivity"></activity>
        <activity android:name=".Post.WritePostActivity"></activity>
        <activity android:name=".Post.EditPostActivity"></activity>
        <activity android:name=".Post.EditSelectPlaceActivity"></activity>
        <activity android:name=".Post.ReadPostActivity"></activity>
        <activity android:name=".Post.SelectPlaceActivity"></activity>
        <activity android:name=".Group.MakeGroupActivity"></activity>
        <activity android:name=".Map.SearchPlaceActivity"></activity>
        <activity android:name=".Map.ShowMapActivity"></activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao6ec2a9b1aa3163fb2406386466af4038" />
            </intent-filter>
        </activity>
        <activity android:name=".Map.PlaceDetailActivity" />
        <activity android:name=".Map.MapSearchDetailActivity" />
        <activity android:name=".Map.MapNavigationActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>